@import url('https://fonts.googleapis.com/css?family=Anton');

body {
	background-color: white
}

h1 {
	color: black ;
	text-align: center;
	font-size: 40px;
	font-family: Helvetica; 
}

p {
	font-size:22px;
	text-align: center;
	font-style: italic;
	text-align: center;
	font-family: 'Anton', sans-serif;
}
ul
	{
	font-size:16px;
	font-family: Helvetica;
}

img {
	display:block;
	margin: 0 auto;
}