@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Quicksand');

body {
	background-color: white
}

h1 {
	color: black;
	text-align: center;
	font-size: 75px;
	font-family: 'Quicksand', sans-serif;
}

h2  {
	color: gray ;
	text-align: center;
	font-size: 40px;
	font-family: 'Lobster', cursive;
}

p {
	font-size: 38px;
	text-align: center;
	font-style: italic;
	font-family: 'Quicksand', sans-serif;
}
ul
	{
	font-size: 30px;
	font-family: Helvetica;
	text-align: center;
	font-familiy: 'Quicksand', sans-serif;
}

img {
	display:block;
	margin: 0 auto;
}